extends layout

block content
  h1= title 
  p /mensaje : GET. Ver el último mensaje capturado
  p /ubicacion : GET. Ver la última ubicacion triangulada
  p /secreto : POST. Obtener mensaje secreto y la ubicación del navío imperial
  p /topsecret : POST. Ver mensaje secreto y ubicación en inglés

